// Typography
$font-family-sans-serif: 'IBM Plex Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #272a2b;

// Border Radius
$border-radius: 1px;
$border-radius-base: 1px;
$border-radius-large: 1px;
$border-radius-small: 1px;

// Input
$input-border-radius:            $border-radius-base !default;
$input-border-radius-large:      $border-radius-large !default;
$input-border-radius-small:      $border-radius-small !default;

// Buttons
$btn-border-radius: 			 $border-radius-base !default;
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;

// Navbar
$navbar-border-radius:             $border-radius-base !default;

// Pills
$nav-pills-border-radius:                   $border-radius-base !default;

// Alert
$alert-border-radius:         $border-radius-base !default;

// List Group
$list-group-border-radius:      $border-radius-base !default;

// Panel
$panel-border-radius:         $border-radius-base !default;

//Grid
$grid-columns: 24;
$grid-gutter-width: 15px !default;

// Element UI
$--color-primary: #007BFF;
$--border-radius-base: 1px !default;
$--border-radius-small: 1px !default;