<template>
    <div class="master-wrapper" v-loading="masterLoading">
        <div class="container" id="main-content-wrapper">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
export default {
    data () {
        return {
            masterLoading: false
        }
    }
}
</script>
