<template>
  <div class="weather-city-wrapper">
    <div class="simple-card" v-loading="cityLoading">
        <h5 class="card-title text-monospace font-weight-bold">
            <router-link :to="{name: 'weather', params: { woeid: cityData.woeid }}">
                {{ cityData.title }}
            </router-link>
        </h5>
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid" :src="'https://www.metaweather.com/static/img/weather/' + cityWeather.consolidated_weather[0].weather_state_abbr + '.svg'" alt="">
            </div>
            <div class="col-md-16">
                <span>{{ cityWeather.consolidated_weather[0].weather_state_name }}</span> <br>
                <h6 class="font-weight-bold">{{ (cityWeather.consolidated_weather[0].the_temp).toFixed(2) }}&#8451;</h6>
            </div>
        </div>
        <span>Max: {{ (cityWeather.consolidated_weather[0].max_temp).toFixed(2) }}&#8451;</span> <br>
        <span>Min: {{ (cityWeather.consolidated_weather[0].min_temp).toFixed(2) }}&#8451;</span> <br>
    </div>
  </div>
</template>

<script>
import axios from '../../axios'
export default {
    props: ['city'],
    methods: {
        loadData () {
            this.cityLoading = true
            axios.get('?command=search&keyword=' + this.city)
            .then(response => {
                this.cityData = response.data[0]
                axios.get('?command=location&woeid='+this.cityData.woeid)
                .then(res => {
                    this.cityWeather = res.data
                    this.cityLoading = false
                })
            })
            .catch(error => {
                this.$message.error('Error: fetching from api...')
                this.errors = error.response.data
                this.cityLoading = false
            })
        }
    },
    data () {
        return {
            cityData: {
                woeid: 0
            },
            cityWeather: {
                consolidated_weather: [
                    {
                        weather_state_abbr: 'hc',
                        weather_state_name: '',
                        max_temp: 0,
                        min_temp: 0,
                        the_temp: 0
                    }
                ],
            },
            errors: [],
            cityLoading: false
        }
    },
    mounted(){
        this.loadData()
    }
}
</script>
