<template>
    <div id="detail-page">
        <h1 class="pt-4">{{ $route.meta.pageTitle }}</h1>
        <router-link :to="{name: 'home'}">Back</router-link>
        <hr>
        <el-row type="flex" :gutter="30" justify="space-between" v-loading="detailLoading">
            <el-col :span="16">
                <h3 class="pb-3 text-monospace font-weight-bold">{{ detailWeather.title }}</h3> 
                <el-row :gutter="10">
                    <el-col class="pb-5" :span="8" v-for="(dayWeather, index) in detailWeather.consolidated_weather" :key="index">
                        <div class="simple-card">
                            <h5 v-if="dayWeather.applicable_date" class="card-title text-monospace font-weight-bold">
                                {{ (new Date(dayWeather.applicable_date)).toLocaleDateString('en-US',{ weekday: 'long'}) }}
                            </h5>
                            <div class="row">
                                <div class="col-md-8">
                                    <img class="img-fluid" :src="'https://www.metaweather.com/static/img/weather/' + dayWeather.weather_state_abbr + '.svg'" alt="">
                                </div>
                                <div class="col-md-16">
                                    <span>{{ dayWeather.weather_state_name }}</span> <br>
                                    <h6 class="font-weight-bold">{{ (dayWeather.the_temp).toFixed(2) }}&#8451;</h6>
                                </div>
                            </div>
                            <span>Max: {{ (dayWeather.max_temp).toFixed(2) }}&#8451;</span> <br>
                            <span>Min: {{ (dayWeather.min_temp).toFixed(2) }}&#8451;</span> <br>
                            <span>Humidity: {{ (dayWeather.humidity) }}%</span> <br>
                            <span>Visibility: {{ (dayWeather.visibility).toFixed(2) }}miles</span> <br>
                            <span>Pressure: {{ (dayWeather.air_pressure).toFixed(2) }}mb</span> <br>
                            <span>Confidence: {{ (dayWeather.predictability) }}%</span> <br>
                        </div>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="8">
                <h5>Sources</h5>
                <ul>
                    <li v-for="(source, index) in detailWeather.sources" :key="index">
                        <a :href="source.url" target="_blank">{{ source.title }}</a>
                    </li>
                </ul>
            </el-col>
        </el-row>
    </div>
</template>
<script>
import axios from '../axios'
export default {
    methods: {
        loadData () {
            this.detailLoading = true
            this.detailWeather.woeid = this.$route.params.woeid
            axios.get('?command=location&woeid='+this.detailWeather.woeid)
                .then(res => {
                    this.detailWeather = res.data
                    this.detailLoading = false
                })
                .catch(error => {
                    this.detailLoading = false
                    this.$message.error('Cannot fetch data...')
                    this.errors = error.response.data
                })
        }
    },
    data () {
        return {
            detailWeather: {
                consolidated_weather: [
                    {
                        weather_state_abbr: 'hc',
                        weather_state_name: '',
                        max_temp: 0,
                        min_temp: 0,
                        the_temp: 0,
                        humidity: '',
                        visibility: 0,
                        air_pressure: 0,
                        predictability: '',
                        applicable_date: ''
                    }
                ],
                sources: [
                    {
                        title: '',
                        url: ''
                    }
                ],
                woeid: 0,
                title: ''
            },
            errors: [],
            detailLoading: false
        }
    },
    mounted () {
        this.loadData()
    }
}
</script>

