<template>
    <div id="home-page">
        <h1 class="pt-4">{{ $route.meta.pageTitle }}</h1>
        <hr>
        <el-row type="flex" :gutter="10" justify="space-between" class="mb-5 pb-5 mt-4">
            <el-col :span="4" v-for="loc in cities" :key="loc">
                <weather :city="loc"></weather>
            </el-col>
        </el-row>
        <el-row type="flex" :gutter="10" justify="center" class="mt-5 pt-5">
            <el-col :span="10">
                <div class="card bg-dark">
                    <div class="card-body">
                        <el-input prefix-icon="el-icon-search" placeholder="E.g: Dublin" @keyup.13.native="searchWeather" size="medium" v-model="search_keyword" clearable autocomplete="off"></el-input>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
</template>


<script>
import router from '../router'
export default {
    methods: {
        searchWeather () {
            router.push({name: 'search', params: { keyword: this.search_keyword}})
        }
    },
    data () {
        return {
            search_keyword: '',
            cities: [
                'London', 'Helsinki', 'Dublin', 'Vancouver','Istanbul', 'Berlin'
            ]
        }
    }
}
</script>

