<template>
    <div id="search-page">
        <h1 class="pt-4">{{ $route.meta.pageTitle }} : {{ keyword }}</h1>
        <div v-loading="searchLoading">
            <p class="align-center">No data for this place. <router-link :to="{name: 'home'}">Back</router-link></p>
        </div>
    </div>
</template>
<script>
import axios from '../axios'
import router from '../router'
export default {
    methods: {
        checkLocation () {
            this.searchLoading = true
            axios.get('?command=search&keyword=' + this.keyword)
            .then(response => {
                if(response.data.length) {
                    this.woeid = response.data[0].woeid
                    router.push({name: 'weather', params: { woeid: this.woeid }})
                } else {
                    this.searchLoading = false
                }
            })
            .catch(error => {
                this.$message.error('Error: fetching search result from api...')
                this.errors = error.response.data
                this.searchLoading = false
            })
        }
    },
    data () {
        return {
            errors: [],
            keyword: this.$route.params.keyword,
            searchLoading: false,
            woeid: 0
        }
    },
    mounted () {
        this.checkLocation()
    }
}
</script>
